$main-text-color: #222222;
$background-color: #f0f0f0;
$button-color: #1C69D4;
$basic-white: #ffffff;
$header-border-color: #DDDDDD;
$whatsapp-color: #3CA255;
$awm-background-color: #01B7E6;
$dot-background-color: #587478;
$input-border-color: #BBBBBB;
$placeholder-color: #999999;
$promo-sale-color: #FF4400;

$tablet-width: 640px;
$tablet-l-width: 960px;
$laptop-width: 1280px;
$laptop-l-width: 1600px;
$desktop-width: 1920px;
