.page-header {
  background: linear-gradient(to bottom, $basic-white 0%, $basic-white 60px, $header-border-color 61px, transparent 62px, transparent 10%);

  @media (min-width: $tablet-l-width) {
    background: $basic-white;
    margin-bottom: 20px;
  }

  @media (min-width: $laptop-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $laptop-l-width) {
    margin-bottom: 40px;
  }
}

.page-header__wrapper {
  display: grid;
  padding-top: 11px;
  padding-bottom: 10px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  @media (min-width: $tablet-l-width) {
    display: grid;
    grid-template-columns: min-content min-content auto auto;
    grid-template-rows: auto auto auto;
    align-items: start;
    padding-top: 14px;
    column-gap: 20px;
    row-gap: 16px;
    padding-bottom: 12px;
  }

  @media (min-width: $laptop-width) {
    grid-template-columns: min-content min-content auto auto auto;
    grid-template-rows: auto auto;
  }
}

.page-header__logo-wrapper {
  display: flex;
  align-items: flex-start;
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    margin-right: 29px;
  }

  @media (min-width: $tablet-l-width) {
    grid-column: 1/2;
    grid-row: 1/3;
    margin: 0;
  }

  @media (min-width: $laptop-width) {
    margin-right: 10px;
  }

  @media (min-width: $laptop-l-width) {
    margin-left: 10px;
  }
}

.page-header__select {
  grid-row: 2/3;
  height: auto;
  text-align: left;
  position: relative;
  display: flex;
  align-items: flex-start;

  @media (min-width: $tablet-width) {
    margin-right: auto;
    margin-top: 9px;
    align-self: flex-start;
    width: 200px;
  }

  @media (min-width: $tablet-l-width) {
    grid-column: 2/3;
    grid-row: 1/2;
    width: auto;
  }
}

.page-header__select-text {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
    position: relative;
    margin-right: 5px;
  }

  @media (min-width: $tablet-l-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
    position: relative;
    margin-right: 5px;
  }
}

.page-header__user-nav {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $tablet-l-width) {
    margin-bottom: 0;
    margin-top: 2px;
    margin-right: 10px;
  }

  @media (min-width: $laptop-width) {
    margin-right: 0px;
  }
}

.page-header__phone {
  text-align: right;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  display: block;

  @media (min-width: $tablet-width) {
    order: 2;
    margin: 0;
    align-self: center;
  }

  @media (min-width: $tablet-l-width) {
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: left;
    margin-top: 4px;
    margin-right: 30px;
  }

  @media (min-width: $laptop-width) {
    margin-right: 16px;
  }

  @media (min-width: $laptop-l-width) {
    margin-right: 0;
  }
}

.page-header__catalog-button {
  grid-column: 1/3;

  @media (min-width: $tablet-width) {
    order: 1;
    margin-right: 16px;
    width: 190px;
  }

  @media (min-width: $tablet-l-width) {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-right: 0;
    width: 193px;
  }

  @media (min-width: $laptop-width) {
    width: 180px;
  }

  @media (min-width: $laptop-l-width) {
    width: 156px;
    margin-right: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 220px;
  }
}

.page-header__search {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    order: 2;
    margin-right: 16px;
    flex-grow: 1;
  }

  @media (min-width: $tablet-l-width) {
    grid-column: 3/5;
    grid-row: 2/3;
    margin: 0;
  }

  @media (min-width: $laptop-width) {
    grid-column: 3/6;
  }
}

.page-header__break {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 100%;
    height: 0;
  }
}

.page-header__main-nav {
  grid-column: 2/5;

  @media (min-width: $laptop-width) {
    grid-row: 1/2;
    grid-column: 4/5;
    margin-right: -40px;
    margin-top: 7px;
  }

  @media (min-width: $desktop-width) {
    margin-right: auto;
  }
}
