.slide {
  position: relative;
  padding-left: 10px;
  box-sizing: border-box;
  background-size: cover;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
  }

  @media (min-width: $tablet-l-width) {
    padding-left: 0;
  }

  &--champion {
    background-image: url("../img/slide-1-bg-mobile.jpg");

    @media (min-width: $tablet-width) {
      background-image: url("../img/slide-1-bg-tablet.jpg");
    }

    @media (min-width: $tablet-l-width) {
      background-image: url("../img/slide-1-bg-tablet-l.jpg");
    }

    @media (min-width: $laptop-width) {
      background-image: url("../img/slide-1-bg-laptop.jpg");
    }
  }

  &--felix {
    background-image: url("../img/slide-2-bg-mobile.jpg");

    @media (min-width: $tablet-width) {
      background-image: url("../img/slide-2-bg-tablet.jpg");
    }

    @media (min-width: $tablet-l-width) {
      background-image: url("../img/slide-2-bg-tablet-l.jpg");
    }

    @media (min-width: $laptop-width) {
      background-image: url("../img/slide-2-bg-laptop.jpg");
    }

    @media (min-width: $laptop-l-width) {
      background-image: url("../img/slide-2-bg-laptop-l.jpg");
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/slide-2-bg-desktop.jpg");
    }
  }

  &--felix-oil {
    background-image: url("../img/slide-3-bg-mobile.jpg");


    @media (min-width: $tablet-width) {
      background-image: url("../img/slide-3-bg-tablet.jpg");
    }

    @media (min-width: $tablet-l-width) {
      background-image: url("../img/slide-3-bg-tablet-l.jpg");
    }

    @media (min-width: $laptop-width) {
      background-image: url("../img/slide-3-bg-laptop.jpg");
    }

    @media (min-width: $laptop-l-width) {
      background-image: url("../img/slide-3-bg-laptop-l.jpg");
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/slide-3-bg-desktop.jpg");
    }
  }
}

.slide__wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  padding-top: 27px;
  position: relative;
  box-sizing: border-box;
  min-height: 338px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    min-height: 517px;
  }

  @media (min-width: $tablet-l-width) {
    padding-left: 30px;
    min-height: 555px;
  }

  @media (min-width: $laptop-l-width) {
    padding-left: 0;
  }
}

.slide__logo {
  margin-bottom: 35px;
}

.slide__text {
  position: relative;
  z-index: 1;
  color: $basic-white;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  max-width: 202px;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    max-width: 320px;
    font-size: 42px;
    line-height: 49px;
  }
}

.slide__image {
  position: absolute;
  z-index: 0;
}

.slide--champion .slide__image {
  top: 27px;
  right: 0;

  @media (min-width: $tablet-width) {
    width: 297px;
    height: 464px;
    top: 16px;
    right: 28px;
  }

  @media (min-width: $tablet-l-width) {
    @include center-x;
  }
}



.slide__link {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  position: absolute;

  &::after {
    content: "";
    background-image: url("../img/link-arrow.svg");
    background-repeat: no-repeat;
    width: 39px;
    height: 22px;
    position: absolute;
    @include center-y;
    right: -55px;
  }
}

.slide__title {
  display: none;

  @media (min-width: $laptop-width) {
    display: block;
    position: absolute;
    right: 30px;
    top: 147px;
    font-weight: 300;
    font-size: 75px;
    line-height: 85px;
    color: $basic-white;
    margin: 0;
  }
}

.slide--felix .slide__logo {
  position: absolute;
  left: 10px;
  top: 20px;
  z-index: 1;

  @media (min-width: $laptop-width) {
    left: 30px;
    right: auto;
  }
}

.slide--felix .slide__image {
  top: 27px;
  right: 0;
  left: -10px;

  @media (min-width: $tablet-width) {
    top: 15px;
    left: 20px;
  }

  @media (min-width: $tablet-l-width) {
    @include center-x;
  }
}

.slide--felix .slide__text {
  text-align: right;
  max-width: none;
  right: 10px;
  top: 30px;

  @media (min-width: $tablet-width) {
    max-width: 350px;
    position: absolute;
    right: 10px;
    top: 60px;
  }

  @media (min-width: $laptop-width) {
    left: 30px;
    right: auto;
    text-align: left;
    top: 75px;
  }
}

.slide--felix .slide__link {
  right: 60px;
  bottom: 50px;

  @media (min-width: $tablet-width) {
    top: 250px;
    bottom: auto;
  }

  @media (min-width: $laptop-width) {
    left: 30px;
    right: auto;
  }
}

.slide--felix-oil .slide__text {
  position: absolute;
  left: 10px;

  @media (min-width: $tablet-l-width) {
    left: 20px;
  }
}

.slide--felix-oil .slide__image {
  right: 20px;
  top: 15px;

  @media (min-width: $tablet-width) {
    right: 20px;
    left: auto;
    top: 0;
  }

  @media (min-width: $laptop-width) {
    @include center-x;
  }

  @media (min-width: $tablet-l-width) {
    @include center-x
  }
}

.slide--felix-oil .slide__link {
  position: absolute;
  bottom: 50px;
  left: 10px;

  @media (min-width: $tablet-width) {
    left: 20px;
    right: auto;
    top: 250px;
    bottom: auto;
  }

  @media (min-width: $laptop-width) {
    left: 30px;
  }
}
